label {
  font-weight: bold;
}

button {
  margin-right: 10px;
}

.unicornButton {
  margin-top: 10px;
}

ul {
  list-style-type: none;
}

.readMore {
  float: right;
}

img {
  height: 250px;
  width: 400px;
}
